<%recipeList.forEach(recipe => {%>
    <p><%= recipe.name %></p>
    <p>vegetarian: <%= recipe.vegetarian %></p>
    <p>vegan: <%= recipe.vegan %></p>
    <p>favorited: <%= recipe.favorited %></p>
    <p>ingredients: <%= recipe.ingredients %></p>
    <p>-----------------------------------------</p>
    <p></p>
<%})%>